.question-choices {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20em);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 15px;
    justify-content: center;
}

.answer {
    padding: 10px;
    color: black;
}

.answer.selected {
    border-color: #2196f3;
    border-width: 2px;
    border-style: dashed;
}

.answer > img {
    max-width: 100%;
}
