.questions {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-items: center;
}

.questions h2 {
    color: #2196f3;
}

.result {
    margin: 2rem 0;
}

.result-text {
    font-weight: bold;
    font-size: 2rem;
}

button {
    border-color: transparent;
    background-color: #2196f3;
    padding: 20px;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    cursor: default;
}

