.questions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

button {
    border-color: transparent;
    background-color: #2196f3;
    padding: 20px;
    color: white;
    cursor: pointer;
}
